body{
    text-align: center;
    margin-top: 50px;
}
button{
    height: 100px;
    width: 100px;
    vertical-align: top;
}
#buttonReset{
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-right: 40px;

}
body{
    background-image: url(/images.png);
    
}
select{
    margin-top: 40px;
    color: red;
}
h1{
    color: red;
}
h2{
    color: limegreen
}
p{
    font-size: 25px;
    margin-top: 20px;
    color: white;
    display: inline;
}
#counterDiv{
    margin-top: 30px;
}
input{
    height: 40px;
    width: 300px;
}
#maxButton{
    height: 47px;
}

#image1{
    float: left;
    width: 100px;
    height: 200px;
}
  

  
